* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #25283D;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}